    <!-- Footer -->
    <footer>
        <div class="container">
            <!-- Social Icons -->
            <div class="row">
                <div class="col-12">
                    <div id="socialIcons">
                        <a href="https://www.facebook.com/shashwat.srivastav.3" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/shashwatsr2712/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/ShashwatSuny" target="_blank"><i class="fab fa-twitter"></i></a>                       
                        <a href="https://www.linkedin.com/in/shashwatsr2712/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/shashwatsr2712" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer Bottom bar -->
        <p id="bottomBar"><em>&copy;&nbsp;copyright</em>&nbsp;&nbsp;&nbsp;<strong>TweetScan</strong></p>
    </footer>

    <!-- Custom JS -->
    <script src="/scripts/index.js"></script>

    </body>
</html>
